/* styles/Bandeau.module.css */

.bandeau {
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 70px;
  z-index: 1000;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  position: relative; /* Ajouté pour s'assurer que les éléments positionnés absolument se réfèrent à ce conteneur */
}

.logo {
  height: 45px;
}

.titrePrincipal {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  text-transform: uppercase;
  /* Ajustement pour centrer le texte sans position absolue */
  flex-grow: 1;
  text-align: center;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1001; /* Assurez-vous que le menu est au-dessus du reste du contenu */
}

.menu.open {
  transform: translateX(0);
}

.menuItem {
  margin: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.menuItem:hover {
  text-decoration: underline;
}
