/* styles/globals.css */

/* Réinitialisation des marges et des paddings */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles pour la section principale */
.sectionPrincipale {
  position: relative;
  width: 100%;
  height: 100vh; /* Utilisation de 100vh pour couvrir toute la hauteur de la vue */
  overflow: hidden;
  background-image: url('/image3-fond.jpg'); /* Assurez-vous que le chemin est correct */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.contenuTexte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff; /* Couleur du texte blanc */
  padding: 20px; /* Ajoute un peu de padding pour que le texte ne touche pas les bords */
}

.titrePrincipal {
  font-size: 4vw; /* Utilisation des unités viewport pour une taille de texte responsive */
  font-weight: bold;
  margin: 0; /* Enlève les marges par défaut */
}

.slogan {
  font-size: 2vw; /* Utilisation des unités viewport pour une taille de texte responsive */
  margin-top: 10px; /* Ajuste l'espacement au-dessus du slogan */
}

/* Media Queries */

/* Petits écrans (smartphones en mode portrait) */
@media (max-width: 600px) {
  .sectionPrincipale {
    height: 100vh; /* Couvrir toute la hauteur de l'écran */
  }

  .titrePrincipal {
    font-size: 6vw; /* Ajustez la taille du titre pour les petits écrans */
  }

  .slogan {
    font-size: 3vw; /* Ajustez la taille du slogan pour les petits écrans */
  }
}

/* Écrans moyens (tablettes en mode portrait et petits ordinateurs portables) */
@media (min-width: 601px) and (max-width: 1024px) {
  .sectionPrincipale {
    height: 100vh; /* Couvrir toute la hauteur de l'écran */
  }

  .titrePrincipal {
    font-size: 5vw; /* Ajustez la taille du titre pour les écrans moyens */
  }

  .slogan {
    font-size: 2.5vw; /* Ajustez la taille du slogan pour les écrans moyens */
  }
}

/* Grands écrans (grands ordinateurs de bureau) */
@media (min-width: 1025px) {
  .sectionPrincipale {
    height: 100vh; /* Couvrir toute la hauteur de l'écran */
  }

  .titrePrincipal {
    font-size: 4vw; /* Ajustez la taille du titre pour les grands écrans */
  }

  .slogan {
    font-size: 2vw; /* Ajustez la taille du slogan pour les grands écrans */
  }
}
