/* styles/SectionPrincipale.module.css */

/* Styles pour la section principale */
.sectionPrincipale {
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  background-image: url('/image3-fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.contenuTexte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  padding: 20px;
}

.titrePrincipal {
  font-size: 4vw;
  font-weight: bold;
  margin: 0;
}

.slogan {
  font-size: 2vw;
  margin-top: 10px;
}

/* Media Queries */

/* Petits écrans */
@media (max-width: 600px) {
  .sectionPrincipale {
    height: 150vh;
  }

  .titrePrincipal {
    font-size: 6vw;
  }

  .slogan {
    font-size: 3vw;
  }
}

/* Écrans moyens */
@media (min-width: 601px) and (max-width: 1024px) {
  .sectionPrincipale {
    height: 150vh;
  }

  .titrePrincipal {
    font-size: 5vw;
  }

  .slogan {
    font-size: 2.5vw;
  }
}

/* Grands écrans */
@media (min-width: 1025px) {
  .sectionPrincipale {
    height: 150vh;
  }

  .titrePrincipal {
    font-size: 4vw;
  }

  .slogan {
    font-size: 2vw;
  }
}
